/////////////////////////////
/////Main Frame Classes/////
///////////////////////////
%imageWrapper
	@extend %inner-frame-dimensions
	position: absolute

.imageWrapper--camera
	@extend %imageWrapper
	top: 0
	right: 0

.imageWrapper--share
	@extend %imageWrapper
	z-index: 200
	transition: $standard-animate

.imageWrapper--instagram
	@extend %imageWrapper
	z-index: 300
	transition: $standard-animate

.slideRightHide
	right: calc(#{$innerFrameWidth} + 50px)

.slideRightShow
	right: 0

.fadeShow
	opacity: 1

.fadeHide
	opacity: 0