<!--Instagram -->
	<div class="imageWrapper--instagram" ng-if="imageStates[2].show" ng-class="imageStates[2].show && delayFade ? 'fadeShow' : 'fadeHide'"">
		<img src="/images/{{imageStates[2].name}}.png" alt="{{imageStates[2].name}}" />
	</div>

<!--Share -->
	<div class="imageWrapper--share" ng-class="imageStates[1].show ? 'slideRightShow' : 'slideRightHide'" ng-click="goToInstagram()">
		<img src="/images/{{imageStates[1].name}}.png" alt="{{imageStates[1].name}}" />
	</div>

<!--Camera -->
<div class="imageWrapper--camera" ng-if="imageStates[0].show" ng-click="slideShare()">
	<img src="/images/{{imageStates[0].name}}.png" alt="{{imageStates[0].name}}"/>
</div>