<!--On Referrals Page imageStates[7]-->
<div class="imageWrapper--refOn" ng-if="imageStates[7].show" ng-class="imageStates[8].show ? 'fadeHide' : 'fadeShow'" ng-click="goToSuccess()">
	<img src="/images/{{imageStates[7].name}}.png" alt="{{imageStates[7].name}}" />
</div>

<!--Off Referrals Page imageStates[6]-->
<div class="imageWrapper--refOff" ng-if="imageStates[5].show" ng-class="imageStates[6].show ? 'fadeShow' : 'fadeHide'" ng-click="showRefOn()">
	<img src="/images/{{imageStates[6].name}}.png" alt="{{imageStates[6].name}}" />
</div>

<!--Success Page imageStates[8]-->
<div class="imageWrapper--success" ng-if="imageStates[7].show">
	<img src="/images/{{imageStates[8].name}}.png" alt="{{imageStates[8].name}}" />
</div>

<!--Open Cumulus imageStates[5]-->
<div class="imageWrapper--open" ng-if="imageStates[4].show" ng-class="imageStates[5].show ? 'slideRightShow' : 'slideRightHide'" ng-click="showDetails()">
	<img src="/images/{{imageStates[5].name}}.png" alt="{{imageStates[5].name}}" />
</div>

<!--Notification imageStates[3]-->
<div class="imageWrapper--notification" ng-if="imageStates[2].show" ng-class="imageStates[3].show ? 'slideNotificationShow' : 'slideNotificationHide'" ng-click="showDetails()">
	<img src="/images/{{imageStates[3].name}}.png" alt="{{imageStates[3].name}}" />
</div>

<!--Instagram imageStates[2]-->
<div class="imageWrapper--instagram" ng-if="imageStates[2].show" ng-class="imageStates[2].show && delayFade ? 'fadeShow' : 'fadeHide'" ng-click="showNotification()">
	<img src="/images/{{imageStates[2].name}}.png" alt="{{imageStates[2].name}}" />
</div>

<!--Notification Details imageStates[4]-->
<div class="imageWrapper--details" ng-if="imageStates[4].show" ng-click="openCumulus()">
	<img src="/images/{{imageStates[4].name}}.png" alt="{{imageStates[4].name}}" />
</div>

<!--Share imageStates[1]-->
<div class="imageWrapper--share" ng-class="imageStates[1].show ? 'slideRightShow' : 'slideRightHide'" ng-click="goToInstagram()">
	<img src="/images/{{imageStates[1].name}}.png" alt="{{imageStates[1].name}}" />
</div>

<!--Camera imageStates[0]-->
<div class="imageWrapper--camera" ng-if="imageStates[0].show" ng-click="slideShare()">
	<img src="/images/{{imageStates[0].name}}.png" alt="{{imageStates[0].name}}"/>
</div>